# X Layer testnet JSON-RPC endpoint
XLAYER_TESTNET_RPC_URL=https://testrpc.xlayer.tech

# Hex private key for deployer (0x...)
DEPLOYER_PRIVATE_KEY=

# Latest xlayer testnet deployments
BONDCREDIT_SUBSCRIPTION_MANAGER=0xAEA215B9F67E0d87B9B89828A1F2dE365Ef1EAd5
BONDCREDIT_PAYMENT_GUARANTOR=0x137bee465E12A5F82e051ec2185F2477a32c4f70
