node_modules/
.cursor/
package-lock.json
.env
.env.example
.env.local
*.log
frontend/dist/
frontend/node_modules/
frontend/package-lock.json
frontend/.env
frontend/.env.example
frontend/.env.local
frontend/localhost.pem
frontend/localhost-key.pem
frontend/localhost+1.pem
frontend/localhost+1-key.pem
frontend/*.log
frontend/dist
